<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <title>My Blog</title>
    </head>
    <body>

        <div class="container">
            <% for (let i = 0; i < locals.posts.length; i++) { %>
                <div class="post-box">
                    <h2><%= locals.posts[i].title %></h2>
                    <p><%= locals.posts[i].article %></p>

                    <form method="post" action="/delete">
                        <button class="delete-btn" type="submit">Delete</button>    
                    </form>
                </div>
            <% } %>
        </div>

    </body>
</html>
