<%- include("partials/header.ejs") %>

<body>
    <div class="form-space">
        <h2>Create Post</h2>
        <form class="create-form" method="post" action="/add">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Title Here" class="input-text" required>
            </div>

            <div class="form-group">
                <label for="description-inpt">Description</label>
                <textarea name="description" id="description-inpt" placeholder="Description Here" class="textarea" required></textarea>
            </div>

            <button type="submit" class="createBtn">Add</button>

        </form>

        <a href="/" class="cancelBtn">Cancel</a>
    </div>
</body>
